<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.T3"
        tools:targetApi="31">

        <!-- 로딩 액티비티 (앱 시작점) -->
        <activity
            android:name=".LoginLoadingActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.T3.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity 추가 -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.T3.NoActionBar" />

        <activity
            android:name=".ui.home.FoodDetailActivity"
            android:exported="false"
            android:label="음식 정보"
            android:theme="@style/Theme.T3.NoActionBar"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".ui.ProductDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>


        <!-- 대안 Key Hash 생성기 -->
        <activity
            android:name=".AlternativeKeyHashGenerator"
            android:exported="false"
            android:theme="@style/Theme.T3.NoActionBar"/>

        <!-- 카카오 로그인 관련 액티비티 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="kakaoc5603a44abd3c2473610b8ec7a36c046" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="c5603a44abd3c2473610b8ec7a36c046" />
    </application>

</manifest>